
<link rel="stylesheet" href="/Public/Css/bootstrap.min.css">
<link rel="stylesheet" href="/Public/Js/datepicker/bootstrap-datetimepicker.css">
<script src="/Public/Js/datepicker/bootstrap-datepicker.js"></script>
<script src="/Public/Js/datepicker/bootstrap-datepicker.zh-CN.min.js"></script>

<div id="page-wrapper">

    <div class="container-fluid">
        <div class="row"  style="margin-top: 20px;">
            <form method="post" id="condition">

                <div class="col-lg-2 ">
                    <div class="input-group">
                        <span class="input-group-addon">员工：</span>
                        <select class="form-control" name="userid">
                            <volist name="user" id="vo">
                                <option value="{$vo.userid}">{$vo.name}</option>
                            </volist>
                        </select>
                    </div>
                </div>

                <!--<div class="col-lg-2">-->
                    <!--<div class="input-group">-->
                        <!--<span class="input-group-addon">产品列表：</span>-->
                        <!--<select class="form-control" name="cause">-->
                            <!--<volist name="product" id="vo">-->
                                <!--<option value="{$vo.name}">{$vo.name}</option>-->
                            <!--</volist>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="col-lg-2">
                    <div class="input-group">
                        <div class="input-group date" data-provide="datepicker" id="startDate" name="startDate">
                            <span class="input-group-addon">开始时间</span>
                            <input class="form-control " name="startDate" type="text" value="{$startDate}">

                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                        <
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <div class="input-group date" data-provide="datepicker" id="endDate" name="endDate">
                            <span class="input-group-addon">结束时间</span>
                            <input class="form-control " name="endDate" type="text" value="{$endDate}">

                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                        <
                    </div>

                </div>

                <div class="col-lg-1">
                    <button class="btn bg-primary" id="query">查询</button>
                </div>
            </form>
            <div class="table" style=" margin:10px;margin-top: 50px;">
                <table class="table table-bordered table-hover" id="Syn_personage">
                    <thead>

                    <th>姓名</th>
                    <th>类型</th>
                    <th>成交额</th>
                    <th>成本</th>
                    <th>提成</th>
                    </thead>
                    <tbody id="commissionInfo">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">

        </div>
    </div>

</div>
<script src="/Public/Js/dialog/layer.js"></script>
<script src="/Public/Js/dialog.js"></script>
<script type="text/javascript">
    $(function () {
        $("#startDate")
                .datepicker({
                    language: 'zh-CN',
                    autoclose: true,
                    clearBtn: true,
                    todayBtn: true,
                    todayHighlight: true,
                    endDate: "time()"
                })
                .on('changeDate', function (v) {
                    $("#endDate").datepicker('setStartDate', v.date);
                });
        $("#endDate")
                .datepicker({
                    language: 'zh-CN',
                    autoclose: true,
                    clearBtn: true,
                    todayBtn: true,
                    todayHighlight: true,
                    endDate: "time()"
                })
                .on('changeDate', function (v) {
                    $("#startDate").datepicker('setEndDate', v.date);
                });
        $('#query').click(function () {

            var data = $('#condition').serializeArray(),
                    postData = {},
                    url = "{:U('statistical/calculation_commission')}";
            $(data).each(function (i) {
                postData[this.name] = this.value;
            });
            $.post(url, postData, function (result) {
                if (result.status == 0) {
                    dialog.error(result.message);
                }
                if (result.status == 1) {
                    console.log(result)
                    var str = ''
                    $('#commissionInfo').html('');
                    str = '<tr>' +
                            '<td>' + result.data.username + '</td>' +
                            '<td>' + result.data.email[0] + '</td>' +
                            '<td>' + result.data.email[1] + '</td>' +
                            '<td>' + result.data.email[2] + '</td>' +
                            '<td>' + result.data.email[3] + '</td>' +
                            '</tr><tr>' +
                            '<td>' + result.data.username + '</td>' +
                            '<td>' + result.data.crm[0] + '</td>' +
                            '<td>' + result.data.crm[1] + '</td>' +
                            '<td>' + result.data.crm[2] + '</td>' +
                            '<td>' + result.data.crm[3] + '</td>' +
                            '</tr><tr>' +
                            '<td>' + result.data.username + '</td>' +
                            '<td>' + result.data.tmpwebsite[0] + '</td>' +
                            '<td>' + result.data.tmpwebsite[1] + '</td>' +
                            '<td>' + result.data.tmpwebsite[2] + '</td>' +
                            '<td>' + result.data.tmpwebsite[3] + '</td>' +
                            '</tr>'
                    ;
                    $('#commissionInfo').append(str);
                }
            }, 'json');

            return false;
        });
    })
</script>